body {
    background-color: rgb(255, 68, 0);
    margin: 400px;
    align-items: center;
    background-size:contain;
}


.box-set {
    position: absolute;
    width: 100%;
    height: 50%;
    background: darkgray;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

h1 {
    color: black;
    font-size: 50px;
    position: fixed;
    top: -3%;
    left: 25%
}

#bio-name {
    color: black;
    font-size: 24px;
    position: fixed;
    top: 5%;
    left: 1%
}

img {
    position: fixed;
    top: 12%;
    left: 1%;
}

.container {
    position: fixed;
    top: 31%;
    left: 14%;
}

#figure {
    position: fixed;
    top: 20%;
    left: 25%;
    font-size: 20px;
    color: orangered;
}

#interests {
    position: fixed;
    top: 27%;
    left: 23%;
    font-size: 20px;
    color: black;
}

.qr {
    position: fixed;
    top: 13%;
    left: 86.5%;
}

#contact-info {
    color: black;
    font-size: 19px;
    position: fixed;
    top: 6%;
    right: 1.5%;
}


.Clink {
    color: black;
    position: fixed;
    top: 36%;
    left: 80%;
}

#link {
    color: black;
}

#repo_info {
    color: darkgray;
    font-size: 20px;
    position: fixed;
    top: 50%;
    right: 2%

}

